<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         xmlns:win32dependencies="http://schemas.microsoft.com/appx/manifest/externaldependencies"
         IgnorableNamespaces="uap desktop6 rescap win32dependencies">
  <Identity Name="DevBrowser" Publisher="__MSIX_PUBLISHER__" Version="1.0.0.0" ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>DevBrowser</DisplayName>
    <PublisherDisplayName>DevBrowser</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <desktop6:FileSystemWriteVirtualization>disabled</desktop6:FileSystemWriteVirtualization>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
    <!-- App Installer can acquire this runtime when supported; installation must
         still succeed when its external-dependency service is unavailable. -->
    <win32dependencies:ExternalDependency Name="Microsoft.WebView2" Publisher="CN=Microsoft Windows, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" MinVersion="1.1.1.1" Optional="true" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="DevBrowser.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="DevBrowser" Description="A developer-focused browser and REST client" BackgroundColor="transparent" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" />
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="packageManagement" />
    <rescap:Capability Name="unvirtualizedResources" />
  </Capabilities>
</Package>
